{% extends "layout.html" %}

{% block content %}
    <div class="container">
            <div class="row">
                <div class="col">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:1280/theme-image-1722796939518.jpeg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:1280/theme-image-1722605287563.jpeg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:1280/theme-image-1722605497538.jpeg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                   <h5>Top Categories</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 box">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720528231170.jpeg"width="100%"class="box">
                    <div class="py-3">Makeup</div>
                </div>
                <div class="col-md-2">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720528229608.jpeg" width="100%"class="box">
                    <div class="py-3">Skincare</div>
                </div>
                <div class="col-md-2">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720528228912.jpeg"width="100%"class="box">
                    <div class="py-3">Hair</div>
                </div>
                <div class="col-md-2">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720629833106.jpeg"width="100%"class="box">
                    <div class="py-3">Fragrance</div>
                </div>
                <div class="col-md-2">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720528228181.jpeg"width="100%"class="box">
                    <div class="py-3">Bath & Body</div>
                </div>
                <div class="col-md-2">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1720528227767.jpeg"width="100%"class="box">
                    <div class="py-3">Men</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                     <h5>For Your Wishlist</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722605611556.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 10% off on nourishing bundles</div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722842406448.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 20% off + free minis on all orders</div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722605757800.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 50% off on everyday beauty staples
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722605791476.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 10% off on face masks, kits & more</div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:1280/theme-image-1722616786129.jpeg"width="100%">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>On Our Radar</h5>
                </div>
            </div>
            <div class="d-flex justify-content-start">
                <ul>
                    <li class="box2">Makeup</li>
                    <li class="box2">Skin</li>
                    <li class="box2">Hair</li>
                    <li class="box2">Fragrance</li>
                    <li class="box2">Tools & Appliances</li>
                    <li class="box2">Bath & Body</li>
                    <li class="box2">Sets & Bundles</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row py-5">
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1092334/ZKkawSJxOx-8809608309360-(1).jpg"width="100%">
                    <div class="py-3">
                        <div>Laneige</div>
                        <div><h6>Laneige Berry Lip Glowy Balm(10g)</h6></div>
                        <div><h6>₹690</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1141398/yuDWuktuq-1141398_1.jpg"width="100%">
                    <div class="py-3">
                        <div>82 E</div>
                        <div><h6>82 E Promegranate Sheen SPF 15 PA++...</h6></div>
                        <div><h6>₹1,500</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1047685/SfZMQ6VEq-1047685_1.jpg"width="100%">
                    <div class="py-3">
                        <div>Faces Canada</div>
                        <div><h6>Faces Canada Ultime Pro Makeup Fixer,Long...</h6></div>
                        <div><h6>₹307 (12% Off)</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1140350/HQf_aLnPEnJ-1140350_1.jpg"width="100%">
                    <div class="py-3">
                        <div>PIXI</div>
                        <div><h6>PIXI On-The-Glow Blush - Ruby (19 g)</h6></div>
                        <div><h6>₹1,950</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/IIslrxaED-Maybelline-New-York-Lash-Sensational-Sky-High-Waterproof-Mascara-Very-Black-(6ml).jpeg"width="100%">
                    <div class="py-3">
                        <div>Maybelline New York</div>
                        <div><h6>Maybelline New York Lash Sensational Sky _</h6></div>
                        <div><h6>₹599 (25% Off)</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:1280/theme-image-1722493672445.jpeg"width="100%">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>New On Tira</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722606172868.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 15% off on French skincare + freebies on all orders</div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722606279162.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 25% off on coveted skincare & wellness</div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722606299862.jpeg"width="100%"class="box">
                    <div class="py-3">Up to 30% off on lasting perfumes
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>Just Dropped</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1143330/y9piprVRp-1143330_1.jpg">
                    <div class="py-3">
                        <div>WishCare</div>
                        <div><h6>WishCare Multi Peptide Anti Hairfall Shampoo Rice Water...</h6></div>
                        <div><h6>₹399 (20% Off)</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1123656/3hYCV1TCYB-1123656_1.jpg">
                    <div class="py-3">
                        <div>Jo Malone London</div>
                        <div><h6>Jo Malone London Wood Sage & Sea Salt Cologne (100 ml)</h6></div>
                        <div><h6>₹12,400</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1147829/QaGFjF7BkGp-1147829_1.jpg">
                    <div class="py-3">
                        <div>What's Up Wellness</div>
                        <div><h6>What's Up Wellness Glutathione-Glow Gummies...</h6></div>
                        <div><h6>₹701 (22% Off)</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1145954/zmHwE6ObH6-1145954_01.jpg">
                    <div class="py-3">
                        <div>Inde Wild</div>
                        <div><h6>Inde Wild 15% Vitamin C Brightening Serum(30 ml)</h6></div>
                        <div><h6>₹1,970</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>Handpicked Offers</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 inimg">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722838644774.jpeg"width="100%" lass="box">
                    <div class="text">
                        Monsoon must-buys: Waterproof makeup
                    </div>
                </div>
                <div class="col-md-4 inimg">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722838686427.jpeg"width="100%" class="box">
                    <div class="text">
                        Quick pick-me-up: Hydrating masks & peels
                    </div>
                </div>
                <div class="col-md-4 inimg">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722838697251.jpeg"width="100%" class="box">
                <div class="text">
                    No build-up: Clarifying shampoos
                </div>
            </div>
            </div>
        </div>
        <div class="container design">
            <div class="row main">
                <div class="col p-4">
                    <div><h1>Get The Look</h1></div>
                    <div class="py-3">Get inspired by these looks and create your own</div>
                    <div>Find out more ></div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1722835755912.jpeg?dpr=1"width="600"class="box child">
                </div>
            </div>
            <div class="row">
                <div class="col p-5">
                    <h5>Featured Products</h5>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1082160/8NnA4s7gj_-773602048519_1.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>M.A.C</div>
                        <div><h6>M.A.C Satin Lipstick - Paramount (3g)</h6></div>
                        <div><h6>₹2,300</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1070254/CkOwDepYTH-651986800261_1.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>Too Faced</div>
                        <div><h6>Too Faced Damn Girl Mascara - Black (13 ml)</h6></div>
                        <div><h6>₹2,650</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1140351/pLz2ZjWLIM1-1140351_1.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>PIXI</div>
                        <div><h6>PIXI On-The-Glow Bronze- RichGlow (19 g)</h6></div>
                        <div><h6>₹1950</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/IIslrxaED-Maybelline-New-York-Lash-Sensational-Sky-High-Waterproof-Mascara-Very-Black-(6ml).jpeg"width="100%" class="box">
                    <div class="py-3">
                        <div>Maybeline New York</div>
                        <div><h6>Maybelline New York Lash Sensational Sky High Waterproof...</h6></div>
                        <div><h6>₹599 (25% Off)</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>Only On Tira</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722405546067.jpeg"width="100%"class="box">
                    <div class="py-3">Turn your skincare into a self-care ritual
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722606003375.jpeg"width="100%"class="box">
                    <div class="py-3">Pro-grade makeup tools & face sculptors
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:400/theme-image-1722606026112.jpeg"width="100%"class="box">
                    <div class="py-3">Elevate your hair & body care journey with new drops
                    </div>
                </div>
            </div>
        </div>
        <div class="container design2">
            <div class="row py-4">
                <div class="col">
                    <div><h2>Top Shelf</h2></div>
                    <div>All things beauty: news, reviews & hot takes</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722852172802.jpeg"width="100%"class="box">
                    <div class="py-2"><h6>Mehak Oberoi on her top makeup hacks and more</h6></div>
                    <div>Read Now ></div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722852241766.jpeg"width="100%"class="box">
                    <div class="py-2"><h6>6 Skin & haircare tools you’re going to be obsessed with</h6></div>
                    <div>Read Now ></div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722662705084.jpeg"width="100%"class="box">
                    <div class="py-2"><h6>How to conceal every type of acne with makeup</h6></div>
                    <div>Read Now ></div>
                </div>
            </div>
        </div>
        <div class="container design3">
            <div class="row py-4">
                <div class="col">
                    <div><h2>Brands To Know</h2></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722606081363.jpeg"width="100%"class="box">
                    <div class="py-2">Up to 20% off on French skincare</div>
                    <div>Shop Now ></div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722606109448.jpeg"width="100%"class="box">
                    <div class="py-2">Special gifts on orders of ₹3500</div>
                    <div>Shop Now ></div>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/resize-w:300/theme-image-1722606130822.jpeg"width="100%"class="box">
                    <div class="py-2">Up to 30% off on soothing bodycare</div>
                    <div>Shop Now ></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5 tube">
                    <h5>Tira Tube</h5><i class="bi bi-youtube"></i>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <iframe width="300" height="450" src="https://www.youtube.com/embed/pVvPmKuhOxg?si=5FNZD8YHqzFoGO3x" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="300" height="450" src="https://www.youtube.com/embed/5C1BD8jW9Z0?si=ALuunyESHj-oP8W_" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="300" height="450" src="https://www.youtube.com/embed/nCbqGRnihlM?si=YfhHv5mnbxbdvVMI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col">
                    <iframe width="300" height="450" src="https://www.youtube.com/embed/7CY9lNtFRKI?si=fpMafJgEZ2Cr3J6b" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col py-5">
                    <h5>On-The-Go Minies</h5>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1081192/oVfvEYVv9f-858511001098_2.jpg"width="100%">
                    <div class="py-3">
                        <div>K18</div>
                        <div><h6>K18 Leave-In Molecular Repair Hair Mask (5ml)</h6></div>
                        <div><h6>₹1,080</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1121507/a-jtVJHAN-1121507_1.jpg"width="100%">
                    <div class="py-3">
                        <div>Laura Mercier</div>
                        <div><h6>Laura Mercier Translucent Loose Setting Powder Mini - Translucent (9.3g)</h6></div>
                        <div><h6>₹2,000</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/411641/FvCq2wSJHw-411641_1.jpg"width="100%">
                    <div class="py-3">
                        <div>Bioderma</div>
                        <div><h6>Bioderma Sensibio H2O Daily Soothing Cleanser (100ml)</h6></div>
                        <div><h6>₹379 (5% Off)</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1121818/8Vn2nKvADZ-1121818_1.jpg"width="100%">
                    <div class="py-3">
                        <div>Laura Mercier</div>
                        <div><h6>Laura Mercier Translucent Loose...</h6></div>
                        <div><h6>₹2,000</h6></div>
                    </div>
                </div>
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1070165/1qFA6PACGL-1070165_1.jpg"width="100%">
                    <div class="py-3">
                        <div>Too Faced</div>
                        <div><h6>Too Faced Travel Size Better Then Sex Mascara - Black (4.8g)</h6></div>
                        <div><h6>₹1,350</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container design">
            <div class="row">
                <div class="col p-4">
                    <div><h1>RED</h1></div>
                    <div class="py-3">Luxury beauty for every you</div>
                    <div>Discover Tira Red ></div>
                </div>
                <div class="col main">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1722835755912.jpeg?dpr=1"width="600"class="box child">
                </div>
            </div>
            <div class="row">
                <div class="col p-5">
                    <h5>Must - Haves</h5>
                </div>
            </div>
            <div class="row px-5">
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1081192/oVfvEYVv9f-858511001098_2.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>K18</div>
                        <div><h6>K18 Leave-In Molecular Repair Hair Mask (5ml)</h6></div>
                        <div><h6>₹1,080</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1141398/yuDWuktuq-1141398_1.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>82 E</div>
                        <div><h6>82 E Promegranate Sheen SPF 15 PA++ Illuminating Lip Oil With...</h6></div>
                        <div><h6>₹1,500</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1121507/a-jtVJHAN-1121507_1.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>Laura Mercier</div>
                        <div><h6>Laura Mercier Translucent Loose Setting Powder Mini - Transluce...</h6></div>
                        <div><h6>₹2,000</h6></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/products/pictures/item/free/resize-w:247/1081193/QkEipXkmKJ-858511001128_2.jpg"width="100%" class="box">
                    <div class="py-3">
                        <div>K18</div>
                        <div><h6>K18 Leave_In Molecular Repair Hair Mask (50 ml)</h6></div>
                        <div><h6>₹5,625</h6></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-5">
                <div class="col">
                    <img src="https://cdn.pixelbin.io/v2/super-fire-62c344/original/homedesktopbannernew.png"width="100%">
                </div>
            </div>
        </div>
        <div class="container design4 my-5">
            <div class="row">
                <div class="col p-4">
                    <div><h1>For YOU</h1></div>
                    <div class="py-3">This is your space. Get access to curated content, handpicked offers and personalised products just for you                    </div>
                    <div>
                        <button>Explore Now</button>
                    </div>
                </div>
                <div class="col main">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Td82sS2B45c?si=0KeRUJ8TZJX89Bqd" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="child2"></iframe>
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col">
                    <img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1720610495854.png?dpr=1"width="100%">
                </div>
            </div>
        </div>
       <div class="container design5">
        <div class="row">
            <div class="col">
                <div><img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1672163850249.png"width="10%"></div>
                <div class="pt-3"><h6>100% Authentic</h6></div>
                <div>All our products are directly sourced from brands</div>
            </div>
            <div class="col">
                <div><img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1672160879402.png"width="10%"></div>
                <div class="pt-3"><h6>Free Shipping</h6></div>
                <div>On all orders above ₹299</div>
            </div>
            <div class="col">
                <div><img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1672160905809.png"width="10%"></div>
                <div class="pt-3"><h6>Certified Beauty Advisors</h6></div>
                <div>Get expert consultations</div>
            </div>
            <div class="col">
                <div><img src="https://cdn.tirabeauty.com/v2/billowing-snowflake-434234/tira-p/wrkr/company/1/applications/62d53777f5ad942d3e505f77/theme/pictures/free/original/theme-image-1672160946022.png"width="10%"></div>
                <div class="pt-3"><h6>Easy Returns</h6></div>
                <div>Hassle-free pick-ups and refunds</div>
            </div>
        </div>
       </div>
       <div class="container info pt-5">
            <div class="row">
                <div class="col">
                    <div><h5>Be the first to hear about all things Tira</h5></div>
                    <div>
                        Stay connected for exclusive offers and latest updates, delivered straight to your inbox
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Enter Your Email Address">
                        <button>Send</button>
                    </div>
                </div>
            </div>
       </div>
{% endblock content %}